<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @cleaner.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @cleaner.firstname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @cleaner.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cleaner.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @cleaner.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @cleaner.phone %>
</p>

<%= link_to 'Edit', edit_cleaner_path(@cleaner) %> |
<%= link_to 'Back', cleaners_path %>
