<h1>Log In </h1>
<%= form_for(:session, url: login_path) do |f| %>
	<div class="row">
    <div class="row">
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:username, class: "validate") %>
        <%= f.label :username %><br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:password, class: "validate") %>
        <%= f.label :password %><br>
      </div>
    </div>
  <div class="action btn waves-effect waves-light actions">
    <%= f.submit "Login" %>
    </div>
    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
<% end %>