<div class="row">
<%= form_for(user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

<div class="row">
    <div class="row">
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:username, class: "validate") %>
        <%= f.label :username %><br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:email, class: "validate") %>
        <%= f.label :email %><br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:firstname, class: "validate") %>
        <%= f.label :first_name %>
      </div>
      <div class="input-field col s3">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:lastname, class: "validate") %>
        <%= f.label :last_name %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:address, class: "validate") %>
        <%= f.label :street_address %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:city, class: "validate") %>
        <%= f.label :city %>
      </div>
      <div class="input-field col s2">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:state, class: "validate") %>
        <%= f.label :state %>
      </div>
      <div class="input-field col s1">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:zipcode, class: "validate") %>
        <%= f.label :zip_code %>
      </div>
    </div>
    <div class="row">  
      <div class="input-field col s6">
        <!-- <i class="material-icons prefix">account_circle</i> -->
        <%= f.text_field(:phone, class: "validate") %>
        <%= f.label :phone %><br>
      </div>
    </div>
    </div>  
    </div>
    <div class="action btn waves-effect waves-light actions">
    <%= f.submit "Update info", class: "" %>
    </div>
  
</div>

<% end %>